@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-Antonio: "Antonio", sans-serif;
$font-Spartan: "League Spartan", sans-serif;

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
