@import "../../variables/variables.scss";
$__border-color: primaryColor;

.nav-bar {
  font-family: $font-Antonio;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 2px solid rgba(145, 145, 145, 0.377);
  .logo {
    font-size: 22px;
  }
  .icon-burger {
    display: none;
  }
  .nav-bar-items {
    font-family: $font-Spartan;
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    .nav-item {
      padding-top: 24px;
      color: #dadadacc;
      text-decoration: none;
      text-transform: uppercase;
      &:hover,
      &:active {
        color: #fff;
        border-top: 3px solid rgba(0, 0, 0, 0);
      }
    }
  }
}

@media (max-width: 1072px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    text-align: center;
    .logo {
      padding: 20px;
      font-size: 52px;
    }
    .nav-bar-items {
      justify-content: space-between;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 22px;
    }
  }
}
@media (max-width: 710px) {
  .nav-bar {
    position: relative;
    .logo {
      text-align: start;
      font-size: 42px;
    }
    .burger-div {
      .icon-burger {
        display: inline;
      }
    }
    .nav-bar-items {
      position: absolute;
      top: 101%;
      background-color: #0707247a;
      left: 0;
      z-index: 199;
      width: calc(100% - 80px);
      height: calc(120vh - 50px);
      padding: 10px 40px;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      overflow: hidden;
      backdrop-filter: blur(22px);
    }
    .nav-bar-hidden {
      display: none;
    }
    .nav-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
