@import "../../variables/variables.scss";
.planet-wrapper {
  .cards-wrapper {
    .cards-div {
      overflow: hidden;
      padding: 10px;
      display: flex;
      justify-content: space-around;
    }
  }
}
.main-seciton {
  height: 70vh;
  text-align: center;
  align-items: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #070724;
  .planet-icon {
    position: relative;
    .saturn,
    .jupiter {
      scale: 1;
      margin-top: 0;
    }
    .geology {
      opacity: 1;
      width: 180px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
    }
    .icon-hidden {
      opacity: 0;
    }
  }
  .planet-info {
    display: flex;
    justify-content: center;
    .planet-info-inner-div {
      .planet-info-content {
        width: 350px;
        align-items: safe;
      }
    }
    h1 {
      font-family: $font-Antonio;
      text-transform: uppercase;
      font-size: 100px;
      margin-bottom: 30px;
    }
    p {
      line-height: 1.3;
      color: #ffffffad;
      margin-bottom: 30px;
    }
    h3 {
      color: #ffffffad;
      margin-bottom: 30px;
      align-items: center;
      a {
        color: #ffffffad;
        margin-right: 6px;
      }
    }
    text-align: start;
    font-family: $font-Spartan;
    color: #fff;
    .btn-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

@media (max-height: 900px) {
  .planet-info {
    align-self: flex-start;
  }
}
@media (max-width: 1072px) {
  .main-seciton {
    display: inline;
    .planet-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .planet-info {
      width: 100vw;
    }
    .planet-info-inner-div {
      margin-top: auto;
      margin-bottom: auto;
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
    }
  }
  .cards-wrapper {
    .cards-div {
      height: 30vh;
      display: flex;
      align-items: center;
    }
  }
}
